main {
    margin-bottom: 2rem !important;
}

section {
    padding: 1.25rem;
}

.gameButton {
    background-color: #FEFCFD;
    border-radius: 0.5rem;
    outline: 0.15rem solid #1E1E1E;
    text-align: center;
    width: 11rem;
    margin: 0 0.3rem;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.gameButton:hover {
    outline: 0.3rem solid #1E1E1E;
    z-index: 1;
}

#game {
    width: 1250px;
    height: 500px;
    outline: 0.2rem solid #1E1E1E;
    border-radius: 0.3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.power-container {
    width: 5rem;
    height: 5rem;
    outline: solid 2px black;
    margin-bottom: 0.3rem;
}

.powers {
    height: 245px;
}

.powers img {
    width: 40px;
    outline: 0.2rem solid #1E1E1E;
    border-radius: 0.3rem;
    margin: 0.2rem 0.75rem;
}

.char {
    width: 250px;
    height: 250px;
    outline: 0.2rem solid #1E1E1E;
    border-radius: 0.3rem;
    background-color: #FEFCFD;
}

.story {
    width: 70%;
}

.screen {
    width: 100%;
    height: 250px;
    outline: 0.2rem solid #1E1E1E;
    border-radius: 0.3rem;
    background-color: #FEFCFD;
}

#typeScreen {
    width: 98%;
    height: 205px;
    margin: 0 0 5px 0;
}

#typeInput {
    width: 98%;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0.2rem;
    padding: 2px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#typeInput:focus {
    outline: none;
}

.char img {
    width: 175px;
    height: 175px;
}

.gameplay-container {
    width: 1275px;
}

/* Health bar at top */
#health {
    width: 13.5rem;
    height: 24px;
    background: rgba(158,43,37,1);
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    outline: solid 2px black;
}

#health::before {
    content: "HEALTH";
    position: absolute;
    left: 2px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#health::after {
    content: attr(currentHealth)"/100";
    width: 100%;
    height: 24px;
    background: #4CAF50;
    border-radius: 4px;
    margin-left: 60px;
    position: relative;
    outline: solid 2px black;
    text-align: center;
    color: white;
    align-content: center;
}

/* Health bar at top */
#gold {
    width: 13.5rem;
    height: 24px;
    background: rgba(203,161,53,1);
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    outline: solid 2px black;
}

#gold::before {
    content: "GOLD";
    position: absolute;
    left: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#gold::after {
    content: attr(money);
    width: 100%;
    height: 24px;
    background: rgba(158,43,37,1);
    border-radius: 4px;
    margin-left: 60px;
    position: relative;
    outline: solid 2px black;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    align-content: center;
}

@media screen and (max-width: 1300px) {
    #health, #gold {
        width: 11.5rem;
    }

    #health::before {
        left: 6px;
    }

    #gold::before {
        left: 12px;
    }

    #health::before, #gold::before, #health::after, #gold::after {
        font-size: 12px;
    }

    .char, .powers, .story {
        margin: 0 0.3rem;
    }
}

@media screen and (max-width: 990px) {
    .button-container {
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media screen and (max-width: 970px) {
    #health, #gold {
        width: 10.5rem;
    }
}