{% extends 'base.html' %}
{% load static %}

{% block title %}Vlaesyvia{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/vlaesyvia.css' %}">
{% endblock %}

{% block main %}
    <main class="container  container-red-gold">
        <section class="button-container flex flex-evenly">
            <a class="bg-white gameButton" href="/">MERCHANT</a>
            <a class="bg-white gameButton" href="/">CHARACTERS</a>
            <a class="bg-white gameButton" href="/">CODEX</a>
            <a class="bg-white gameButton" href="/">LEADERBOARD</a>
        </section>
        <section class="flex flex-center">
            <div id="game" class="bg-white"></div>
        </section>
        <section class="flex flex-center">
            <div class="gameplay-container">
                <div class="flex flex-between">
                    <div class="char flex flex-col flex-center">
                        <div id="health" currentHealth="100"></div>
                        <img src="{% static 'img/characters/Wizard.png' %}" alt="Wizard">
                        <div id="gold" money="000000000000" class="flex flex-center"></div>
                    </div>
                    <div class="powers flex flex-col flex-between">
                        <img src="{% static 'img/icons/FireBall.png' %}" alt="Power 1">
                        <img src="{% static 'img/icons/RockShatter.png' %}" alt="Power 2">
                        <img src="{% static 'img/icons/GreenWall.png' %}" alt="Power 3">
                        <img src="{% static 'img/icons/Entangle.png' %}" alt="Power 4">
                    </div>
                    <div class="story">
                        <div class="screen flex flex-col flex-around">
                            <div class="max-width flex flex-evenly">
                                <div class="power-container flex flex-col flex-center">
                                    <img src="{% static 'img/icons/FireBall.png' %}" alt="Power 1">
                                    <p class="word"></p>
                                </div>
                                <div class="power-container flex flex-col flex-center">
                                    <img src="{% static 'img/icons/FireBall.png' %}" alt="Power 1">
                                    <p class="word"></p>
                                </div>
                                <div class="power-container flex flex-col flex-center">
                                    <img src="{% static 'img/icons/FireBall.png' %}" alt="Power 1">
                                    <p class="word"></p>
                                </div>
                                <div class="power-container flex flex-col flex-center">
                                    <img src="{% static 'img/icons/FireBall.png' %}" alt="Power 1">
                                    <p class="word"></p>
                                </div>
                            </div>
                            <input id="typeInput" type="text" placeholder="Type here ...">
                            {% csrf_token %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script>
        window.STATIC_URL = "{% static '' %}";
    </script>
    <script src="{% static 'js/vlaesyvia.js' %}"></script>
{% endblock %}